* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

button {
  width: fit-content;
  padding: 12px 18px;
  border-radius: 10px;
  background-color: #1d1d1d;
  color: white;
  cursor: pointer;
  border: none;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

header img {
  width: 150px;
  height: auto;
}

header .logo {
  width: 80px;
}
