* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafaf8;
}

button {
  width: fit-content;
  padding: 12px 18px;
  border-radius: 10px;
  background-color: #1d1d1d;
  color: white;
  cursor: pointer;
  border: none;
}
.done-button {
  background-color: #04d43f;
}

.delete-button {
  background-color: #eb0909;
}

header {
  box-shadow: 1px 3px 0 #0000001a, 0 1px 2px 0 #0000000f;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

header img {
  width: 150px;
  height: auto;
}

header .logo {
  width: 80px;
}

.add-to-dos-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

input {
  border: 1px solid #d1d5db;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 #0000000d;
  flex-grow: 1;
  font-size: 16px;
  max-width: 400px;
  min-width: 150px;
  padding: 12px 16px;
}

#to-dos-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 200px;
}

#to-dos-container div {
  display: flex;
  align-items: center;
  gap: 10px;
}

#to-dos-container div span {
  font-size: 1em;
}

@media (max-width: 1024px) {
  #to-dos-container {
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  #to-dos-container {
    padding: 0 40px;
  }
}
@media (max-width: 480px) {
  #to-dos-container {
    padding: 20px 30px;
  }

  #to-dos-container div {
    background-color: #eeeeeee7;
    border-radius: 15px;
    padding: 10px;
  }
}
